#titulo{
    font: 800;
    font: 100;
    font-weight: 900;
    color: brown;
    width: 50%;
    height: 50%;
}

*{
    background-color: darkkhaki;
}

#cont{

    height: 500px;
    border: 1px blue ridge;
    float: left;
    width: 44.7%;
    background-color: burlywood;
    margin: 5px;
    padding: 10px;

}

#logo{
    
    
    
}

#ima{
    
    height: 500px;
    border: 1px blue ridge;
    float: left;
    width: 44.7%;
    background-color: burlywood;
    margin: 5px;
    padding: 10px;
}

.dat{
    width: 100%;
    margin :1px;
    top: auto;
    padding:1px;
    float: right;
    border: 5px solid black;
    
}