
/*estilos de letras */

#musica{

    color: crimson;
    font-size: 200%;
    text-align: justify;
}

h1{
    color: lightslategray;
    font-style: oblique;
    text-align: justify;
    background-color: darksalmon;
    

}

article{

    color: cadetblue;
    background-color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


/*manejo de etiquetas*/

#navegacion{
    color: darkblue;
    background-color: blueviolet;
}


}



#textBach{
    color: green;
    text-align: justify;
}

.bethoven{
   color: darkgoldenrod;
   background-color: darkkhaki;
   text-align: justify;


}

#textBet{
    text-align: justify;
    color: blue;
    background-color: aqua;
}

#cont{

color: chocolate;
background-color: darkorange;

}




.dat{
   color: aqua;
    font-family: 'Courier New', Courier, monospace;
    
}


